# Hypothesis testings exercise

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [51]:
# important library
import pandas as pd
from scipy import stats
import numpy as np

In [6]:
unit_data = pd.read_csv('Cutlets.csv')
unit_data

    Unit A  Unit B
0   6.8090  6.7703
1   6.4376  7.5093
2   6.9157  6.7300
3   7.3012  6.7878
4   7.4488  7.1522
5   7.3871  6.8110
6   6.8755  7.2212
7   7.0621  6.6606
8   6.6840  7.2402
9   6.8236  7.0503
10  7.3930  6.8810
11  7.5169  7.4059
12  6.9246  6.7652
13  6.9256  6.0380
14  6.5797  7.1581
15  6.8394  7.0240
16  6.5970  6.6672
17  7.2705  7.4314
18  7.2828  7.3070
19  7.3495  6.7478
20  6.9438  6.8889
21  7.1560  7.4220
22  6.5341  6.5217
23  7.2854  7.1688
24  6.9952  6.7594
25  6.8568  6.9399
26  7.2163  7.0133
27  6.6801  6.9182
28  6.9431  6.3346
29  7.0852  7.5459
30  6.7794  7.0992
31  7.2783  7.1180
32  7.1561  6.6965
33  7.3943  6.5780
34  6.9405  7.3875

In [7]:
unit_data_a = unit_data[['Unit A']]
unit_data_b = unit_data[['Unit B']]

In [8]:
unit_data_a.head()

   Unit A
0  6.8090
1  6.4376
2  6.9157
3  7.3012
4  7.4488

In [9]:
unit_data_b.head()

   Unit B
0  6.7703
1  7.5093
2  6.7300
3  6.7878
4  7.1522

In [ ]:
# null hypothesis -  μ1 = μ2 (there is no significant difference in the diameter of the cutlet between two units)
# alternate hypothisis - μ1 ≠ μ2 (there is any significant difference in the diameter of the cutlet between two units)

In [11]:
# 2 sample - 2 tail test   : stats.ttest_ind(unit_data_a,unit_data_b) , ind means independent variable
statics, pvalue = stats.ttest_ind(unit_data_a,unit_data_b)

In [12]:
statics, pvalue

(array([0.72286887]), array([0.47223947]))

In [13]:
if pvalue>0.05:
    print('accept the null hypothesis it says there is no significant difference in the diameter of the cutlet between two units')
else:
    print('reject null hypothesis is says there is no significant difference in the diameter of the cutlet between two units')

accept the null hypothesis it says there is no significant difference in the diameter of the cutlet between two units

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
      Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [17]:
lab_data = pd.read_csv('LabTAT.csv')
lab_data

     Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0          185.35        165.53        176.70        166.13
1          170.49        185.91        198.45        160.79
2          192.77        194.92        201.23        185.18
3          177.33        183.00        199.61        176.42
4          193.41        169.57        204.63        152.60
..            ...           ...           ...           ...
115        178.49        170.66        193.80        172.68
116        176.08        183.98        215.25        177.64
117        202.48        174.54        203.99        170.27
118        182.40        197.18        194.52        150.87
119        182.09        215.17        221.49        162.21

[120 rows x 4 columns]

In [19]:
lab_data.shape

(120, 4)

In [20]:
lab_data.isna().sum()

Laboratory 1    0
Laboratory 2    0
Laboratory 3    0
Laboratory 4    0
dtype: int64

In [21]:
lab_data.dtypes

Laboratory 1    float64
Laboratory 2    float64
Laboratory 3    float64
Laboratory 4    float64
dtype: object

In [ ]:
# Ho = the average Turn Around Time (TAT) of all laboratories are same.
# ha = the average Turn Around Time (TAT) of any one laboratories are different.

In [23]:
# apply anova test becoase the sample is more than two
statistic, pvalue = stats.f_oneway(lab_data.iloc[:,0],lab_data.iloc[:,1],lab_data.iloc[:,2],lab_data.iloc[:,3])

In [24]:
statistic, pvalue

(118.70421654401437, 2.1156708949992414e-57)

In [26]:
if pvalue > 0.05:
    print('accept null hypothesis, it says that the average Turn Around Time (TAT) of all laboratories are same.')
else:
    print('reject null hypothesis, it says that the average Turn Around Time (TAT) of all laboratories are same.')

reject null hypothesis, it says that the average Turn Around Time (TAT) of all laboratories are same.

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [38]:
data = pd.read_csv('BuyerRatio.csv')
data

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [58]:
# # create contengency table
sort_data = np.array([[50,142,131,70],[435,1523,1356,750]])

In [ ]:
# ho = male-female buyer rations are similar across regions.
# ha = male-female buyer rations are not similar across regions.

In [59]:
chi_v,pvalue,dof,expected = stats.chi2_contingency(sort_data)

In [60]:
pvalue

0.6603094907091882

In [77]:
if pvalue>0.05:
    print('accept null hypothesis it says that male-female buyer rations are similar across regions.')
else:
    print('reject null hypothesis it says that male-female buyer rations are similar across regions.')

accept null hypothesis it says that male-female buyer rations are similar across regions.

 TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences

In [64]:
call_data = pd.read_csv('Costomer+OrderForm.csv')
call_data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [65]:
call_data.shape

(300, 4)

In [66]:
call_data.isna().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [67]:
call_data.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [68]:
call_data.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [69]:
call_data.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [70]:
call_data.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [71]:
# ho =  defective % does not varies by centre
# ha =  defective % varies by centre

In [72]:
# create contengency table
sort_data = np.array([[271,267,269,280],[29,33,31,20]])

In [73]:
sort_data

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [74]:
chi_v,pvalue,dof,expected = stats.chi2_contingency(sort_data)

In [75]:
pvalue

0.2771020991233135

In [76]:
if pvalue>0.05:
    print('Accept Null Hypthesis, it says that defective % does not varies by centre')
else:
    print('reject null hypothesis, it says that defective % does not varies by centre')

Accept Null Hypthesis, it says that defective % does not varies by centre